.technologyDetails {
    padding: 16px;
    color: var(--light-gray);
}

.technologyDetails img {
    margin-bottom: 8px;
}

.technologyDetails h2 {
    color: var(--off-white);
    padding-bottom: 2rem;
}

.description {
    display: flex;
    align-items: center;
    gap: 2rem;
}
