.title {
    color: var(--pinky);
    margin: 2rem 0;
    align-self: flex-start;
}

.experienceAndSkillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experienceContainer {
    display: grid;
    grid-template-columns: 40rem 40rem;
    gap: 8px;
    align-items: center;
    justify-items: center;
}
