.aboutContainer {
    position: absolute;
    background-color: var(--secondary-lightest);
    color: var(--background);
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 150px 25%;
    border-radius: 1rem;
}

.aboutContent {
    width: 700px;
}

.smallText {
    font-size: 0.8rem;
}

.aboutTitle {
    padding: 2.5rem 0;
    text-align: center;
}

.aboutMe {
    display: flex;
    gap: 1.5rem;
}

.downloadCvButton {
    background: none;
    border:none;
    padding: 4px 6px;
    color: var(--background);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100px;
    cursor: pointer;
}

.personDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem
}

.personDescription p {
    line-height: 1.5;
    font-weight: 500;
}

.graduationSection {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.educationText {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
    .aboutContent {
        width: unset;
        padding:0 2rem;
    }    
}

@media only screen and (max-width:  700px) {
    .aboutMe {
        flex-direction: column;
    }
}

